<apex:page standardController="Product2">
    <apex:form >
    	<apex:pageBlock >
        	<h1>
                New Merchandise
            </h1>
            <apex:pageBlockSection >
                <apex:inputField value="{!product2.name}"/>
                <apex:inputField value="{!product2.isactive}"/>
                <apex:inputField value="{!product2.productcode}"/>
                <apex:inputField value="{!product2.description}"/>
                <apex:inputField value="{!product2.family}"/>
            </apex:pageBlockSection>
            <apex:pageBlockButtons >
                <apex:commandButton value="Save" action="{!save}"/>
                <apex:commandButton value="Cancel" action="{!Cancel}" immediate="true" html-novalidate="formnovalidate"/>
            </apex:pageBlockButtons>
        </apex:pageBlock>
    </apex:form>
</apex:page>